@model IEnumerable<projectcrudresume.DatabaseClasses.TestModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Message1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Message1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
